### Statistics using Pandas

In [2]:
import pandas as pd

In [3]:
f_usage = [ 5, 4, 3, 5, 8, 2, 5, 2, 5, 8, 10, 8, 7, 9, 10, 5, 7, 5, 7, 5, 4, 3, 5, 8, 4]

ser = pd.Series(f_usage)
sum_stat = ser.describe()

print(sum_stat)

count    25.000000
mean      5.760000
std       2.314447
min       2.000000
25%       4.000000
50%       5.000000
75%       8.000000
max      10.000000
dtype: float64

In [8]:
import matplotlib.pylot as plt

plt.hist(f_usage, bins=8, edgecolor="black")

plt.show

ModuleNotFoundError: No module named 'matplotlib.pylot'

In [4]:
pstdeviation = ser.std(ddof=0)
print(pstdeviation)

2.267686045289339

In [5]:
df = pd.read_csv("population_by_country_2020.csv")

df

,Country,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
0,China,1440297825,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
1,India,1382345085,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
2,United States,331341050,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
3,Indonesia,274021604,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
4,Pakistan,221612785,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...,...
230,Montserrat,4993,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
231,Falkland Islands,3497,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
232,Niue,1628,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
233,Tokelau,1360,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
234,Holy See,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [6]:
last_rows = df.tail(10)

last_rows

,Country,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
225,Wallis & Futuna,11203,-1.69 %,-193,80,140,NaN,N.A.,N.A.,0 %,0.00 %
226,Nauru,10836,0.63 %,68,541,20,NaN,N.A.,N.A.,N.A.,0.00 %
227,Saint Barthelemy,9882,0.30 %,30,470,21,NaN,N.A.,N.A.,0 %,0.00 %
228,Saint Helena,6080,0.30 %,18,16,390,NaN,N.A.,N.A.,27 %,0.00 %
229,Saint Pierre & Miquelon,5789,-0.48 %,-28,25,230,NaN,N.A.,N.A.,100 %,0.00 %
230,Montserrat,4993,0.06 %,3,50,100,NaN,N.A.,N.A.,10 %,0.00 %
231,Falkland Islands,3497,3.05 %,103,0,12170,NaN,N.A.,N.A.,66 %,0.00 %
232,Niue,1628,0.68 %,11,6,260,NaN,N.A.,N.A.,46 %,0.00 %
233,Tokelau,1360,1.27 %,17,136,10,NaN,N.A.,N.A.,0 %,0.00 %
234,Holy See,801,0.25 %,2,2003,0,NaN,N.A.,N.A.,N.A.,0.00 %

In [7]:
sel_country = df[df["Country"]=="Philippines"]

sel_country

,Country,Population (2020),Yearly Change,Net Change,Density (P/Km²),Land Area (Km²),Migrants (net),Fert. Rate,Med. Age,Urban Pop %,World Share
12,Philippines,109830324,1.35 %,1464463,368,298170,-67152.0,2.6,26,47 %,1.41 %

In [10]:
import matplotlib.pyplot as plt

country = east_asia('Country')
population = east_asia('Population (2020)')

fig = plt.figure(figsize =(16,10))

plt.barh(country, population)
plt.title('2020 Population by Country (East Asia)')

plt.show()

NameError: name 'east_asia' is not defined